.project
mirror/
imports/*.tmp
*.swp
mp-edit.owl
hp-edit.owl
/obo-grep.pl
src/.DS_Store
src/patterns/.DS_Store
.DS_Store
src/patterns/pattern-merged.owl
src/patterns/pattern-main.owl
src/patterns/pattern-dev.owl
src/patterns/imports/seed_sorted.txt
src/patterns/imports/seed.txt
src/patterns/imports/pato_import.owl
src/ontology/dosdp-tools.log
src/scripts/owl2vowl.jar
assert-equivalent-classes-module.owl
mappings/hp-to-mp-match.tbl.tmp
mappings/zp-to-hp-match.tbl.tmp
vertebrate-compute.obo
mappings/hp-to-mp-match.tbl
/site
src/ontology/target
src/ontology/reports/basic-report.tsv
src/ontology/reports/class-count-by-prefix.tsv
src/ontology/reports/edges.tsv
src/ontology/reports/obsoletes.tsv
src/ontology/reports/synonyms.tsv
src/ontology/reports/xrefs.tsv
