.project
mirror/
imports/*.tmp
*.swp
mp-edit.owl
hp-edit.owl
/obo-grep.pl
src/old
src/ontology/mirror
src/ontology/mirror/*
src/ontology/upheno.obo
src/ontology/upheno.owl
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns
